@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
:root{
  --bg-color:#fff;
  --text-color:#221314;
  --second-color:#5a7184;
  --main-color:#6e54fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
form {
   max-width:420px; margin:50px auto;
   border-radius: 5px;
   padding: 15px 20px;
   box-shadow: 5px 30px 56.1276px rgba(0, 55, 255, 0.15);
}

section{
    padding: 30px 18%;
}
form h3{
  color: #3FA8FF;
  font-size: 40px;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 13px;
}
.feedback-input {
  color:var(--second-color);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 15px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #3FA8FF;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #3FA8FF; }

textarea {
  height: 120px;
  line-height: 120%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#71bfff;
  border-radius:10px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:18px;
  padding: 13px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:600;
}
[type="submit"]:hover { background:#3FA8FF; }